body, html {
    margin: 0;
    padding: 0;
padding-bottom: 0px;
    box-sizing: border-box;
    background-color: #E1E1DF;
    font-family: Tomorrow;
}


header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #E1E1DF;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: #E1E1DF;
    font-size: 1.2em;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.navbar-links a:hover::after {
    width: 100%;
}

.navbar-links a:hover {
    color: #E1E1DF;
}

.slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slide {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.overlay button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #E1E1DF;

    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #E1E1DF;
}

.container{
    background-color: #E1E1DF;
    font-family: Tomorrow;
    padding: 10%;
}

.us{
    text-align: center;
}

.section {
    padding-left: 50px;
}


.our-approach {
    padding: 20px;
    text-align: center;
    font-family: Tomorrow;
    color: #E1E1DF;
    background-color: #1e1e1e;
    text-align: left;
}

.our-approach h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.approach-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.approach-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.approach-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.approach-item p {
    font-size: 1em;
    line-height: 1.5;
}

/* Responsive Design */
@media (min-width: 768px) {
    .approach-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .approach-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.offerings {
    padding: 20px;
    text-align: center;
    background-color: #1e1e1e;
    color:#E1E1DF;
}

.offerings h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.offerings-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: left;
    padding-top:15px;
}

.offering-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.offering-item .number {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: #E1E1DF;
    padding: 10px;
    border-radius: 20%;
    font-size: 1.2em;
    font-weight: bold;
    

}



.offering-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.offering-item p {
    font-size: 1em;
    line-height: 1.5;
}

/* Responsive Design */
@media (min-width: 768px) {
    .offerings-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .offerings-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}