body, html {
    margin: 0;
    padding: 0;
padding-bottom: 0px;
    box-sizing: border-box;
    background-color: #E1E1DF;

.navi{
    color: grays;
    font-size: 15px;
    font-family: Tomorrow;
    padding-left: 20px;
}


 a {
 text-decoration: none;
 }

.gray {
color: #E1E1DF;
font-weight: bold;
}

.tmr{
    font-family: Tomorrow;
    
}


.this {
    color: #E1E1DF;
    font-size: 50px;
    font-weight: bolder;
}


.bak {
    position: relative;
    background-image: url('img/IMG_20211030_125923_771\ -\ Copy.jpg');
    background-position: 5px;
    background-size: cover;
    width: 100vw; /* Full viewport width */
    height: 50vh; /* Full viewport height */
    overflow: hidden; /* Ensures the overlay covers the container */
    justify-content: center center;
    min-height: auto;
    min-width: auto;
}
/* Apply the overlay */
.bak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */ 
}

.background-text{
    
    position: absolute;
    margin-left: 200px;
    justify-content: center;
    margin-top: 50px;
}
.container{
    background-color: #E1E1DF;
    font-family: Tomorrow;
}

.us{
    text-align: center;
}

.section {
    padding-left: 50px;
}


.our-approach {
    padding: 20px;
    text-align: center;
    font-family: Tomorrow;
    color: #E1E1DF;
    background-color: #1e1e1e;
    text-align: left;
}

.our-approach h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.approach-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.approach-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.approach-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.approach-item p {
    font-size: 1em;
    line-height: 1.5;
}

/* Responsive Design */
@media (min-width: 768px) {
    .approach-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .approach-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}